<div class="footer">
  <div class="contact">
    <p>
      Merlin Ran<br />
      merlinran@gmail.com
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="http://github.com/merlinran/">github.com/merlinran</a><br />
      <a href="http://twitter.com/merlinran/">twitter.com/merlinran</a><br />
      <a href="http://weibo.com/u/1685862880">@MerlinRan</a><br />
    </p>
  </div>
  <div class="rss">
    <a href="http://mindhiking.info/atom.xml">
      <img src="/images/rss.png" alt="订阅RSS" />
    </a>
  </div>
</div>
